{{define "title" }}Home{{end}}

{{define "main" }}<h2> Latest clips</h2>
    {{if .Clips}}
    <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>ID</th>
        </tr>
        {{range .Clips}}
        <tr>
            <td><a href='/clip/view/{{.ID}}'>{{.Title}}</a></td>
            <td>{{.Created | humanDate}}</td>
            <td>{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
            <p>There's nothing here yet.</p>
    {{end}}
{{end}}
